@import '../../styles.scss';

.header {
    width: 100%;
    background-color: $primary-colour;
    display: flex;
    padding: 0 15px;
    color: $secondary-colour;
}

.diagonal-box {
    transform: skewX(-20deg);
    width: 200px;
} 
.content { 	
	max-width: 50em;
    margin: 0 auto;
    font-size: 30px;
    background-color: #e07424;
    padding: 0 4%;

    &:hover {
        background-color: $secondary-colour;
        color: $primary-colour;
        cursor: pointer;
    }
}

.diagonal-box:before {
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background-image: linear-gradient(45deg, #654ea3, #eaafc8); 	
   transform: skewY(-11deg);
}